*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: rgb(204, 204, 204)
   
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff; 
    padding-bottom: 20px;
}
main {
    flex: 1; 
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name h2 {
    margin: 0;
    font-size: 24px;
}
.name h2:hover {
    color: #030303; 
}
.easteregg_button{
    width: 20px;
    height: 20px;
}
.easteregg_button:hover{
    background-color: black;
}
.clickable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    padding-left: 10px;
}

.clickable button {
    border: none;
    background-color: #616060;
    padding: 10px 20px;
    margin: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 150px;
    
}

.clickable button:hover {
    background-color: #9c9a9a;
}


.clickable button p {
    color: #666;
}

.button_text_main {
    margin-top: 80px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer_content {
    border-top: 2px solid #fff; 
    padding-top: 20px;
}

.footer h2 {
    font-family: 'Verdana', sans-serif; 
    font-size: 24px;
    letter-spacing: 2px; 
    margin: 0;
}
.logo{
    width: 100px;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.secretModal{
    width: 60px;
    height: 60px;

}
.modal-text{
    color: black;
}
.about_me_text{
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

